# <font color=green>Data Excercise - Drug Overdose</font>

<font color=green>Getting Started- PART 1</font>

In [1]:
#importing packages
import pandas as pd
import numpy as np
import os

#reading CSV files
allergies_df=pd.read_csv('https://raw.githubusercontent.com/chop-analytics/analyst-take-home-task/master/datasets/allergies.csv')
medications_df=pd.read_csv('https://raw.githubusercontent.com/chop-analytics/analyst-take-home-task/master/datasets/medications.csv')
procedures_df=pd.read_csv('https://raw.githubusercontent.com/chop-analytics/analyst-take-home-task/master/datasets/procedures.csv')
encounters_df=pd.read_csv('https://raw.githubusercontent.com/chop-analytics/analyst-take-home-task/master/datasets/encounters.csv')
patients_df=pd.read_csv('https://raw.githubusercontent.com/chop-analytics/analyst-take-home-task/master/datasets/patients.csv')

<font color=green>Exploring Data and Joining</font>

In [2]:
patients_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11864 entries, 0 to 11863
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Id          11864 non-null  object
 1   BIRTHDATE   11864 non-null  object
 2   DEATHDATE   1889 non-null   object
 3   SSN         11864 non-null  object
 4   DRIVERS     9883 non-null   object
 5   PASSPORT    9329 non-null   object
 6   PREFIX      9599 non-null   object
 7   FIRST       11864 non-null  object
 8   LAST        11864 non-null  object
 9   SUFFIX      100 non-null    object
 10  MAIDEN      3353 non-null   object
 11  MARITAL     8329 non-null   object
 12  RACE        11864 non-null  object
 13  ETHNICITY   11864 non-null  object
 14  GENDER      11864 non-null  object
 15  BIRTHPLACE  11864 non-null  object
 16  ADDRESS     11864 non-null  object
 17  CITY        11864 non-null  object
 18  STATE       11864 non-null  object
 19  ZIP         6946 non-null   float64
dtypes: float64(1), object(19)
memory usage: 1.8+ MB

In [3]:
encounters_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 413298 entries, 0 to 413297
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id                 413298 non-null  object
 1   START              413298 non-null  object
 2   STOP               413298 non-null  object
 3   PATIENT            413298 non-null  object
 4   PROVIDER           413296 non-null  object
 5   ENCOUNTERCLASS     413298 non-null  object
 6   CODE               413297 non-null  float64
 7   DESCRIPTION        413298 non-null  object
 8   COST               413298 non-null  float64
 9   REASONCODE         134681 non-null  float64
 10  REASONDESCRIPTION  134681 non-null  object
dtypes: float64(3), object(8)
memory usage: 34.7+ MB

<font color=green>After carefully viewing the data, It was decided to inner join the encounters and patients tables</font>

In [4]:
pat_encounter_df = pd.merge(encounters_df, patients_df, how="inner", left_on= 'PATIENT', right_on= 'Id', suffixes=("_E","_P"))

<font color=green> Exploring the joined data </font>

In [5]:
pat_encounter_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 413298 entries, 0 to 413297
Data columns (total 31 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Id_E               413298 non-null  object
 1   START              413298 non-null  object
 2   STOP               413298 non-null  object
 3   PATIENT            413298 non-null  object
 4   PROVIDER           413296 non-null  object
 5   ENCOUNTERCLASS     413298 non-null  object
 6   CODE               413297 non-null  float64
 7   DESCRIPTION        413298 non-null  object
 8   COST               413298 non-null  float64
 9   REASONCODE         134681 non-null  float64
 10  REASONDESCRIPTION  134681 non-null  object
 11  Id_P               413298 non-null  object
 12  BIRTHDATE          413298 non-null  object
 13  DEATHDATE          99126 non-null   object
 14  SSN                413298 non-null  object
 15  DRIVERS            375928 non-null  object
 16  PASSPORT           359146 non-null  object
 17  PREFIX             367935 non-null  object
 18  FIRST              413298 non-null  object
 19  LAST               413298 non-null  object
 20  SUFFIX             2728 non-null    object
 21  MAIDEN             154517 non-null  object
 22  MARITAL            327408 non-null  object
 23  RACE               413298 non-null  object
 24  ETHNICITY          413298 non-null  object
 25  GENDER             413298 non-null  object
 26  BIRTHPLACE         413298 non-null  object
 27  ADDRESS            413298 non-null  object
 28  CITY               413298 non-null  object
 29  STATE              413298 non-null  object
 30  ZIP                239288 non-null  float64
dtypes: float64(4), object(27)
memory usage: 100.9+ MB

<font color=green>No Records were lost.Now let's combine the medications table for us to assemble the project Cohort.</font>

In [6]:
medications_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112270 entries, 0 to 112269
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   START              112270 non-null  object
 1   STOP               92085 non-null   object
 2   PATIENT            112270 non-null  object
 3   ENCOUNTER          112270 non-null  object
 4   CODE               112270 non-null  int64
 5   DESCRIPTION        112270 non-null  object
 6   COST               112270 non-null  float64
 7   DISPENSES          112270 non-null  int64
 8   TOTALCOST          112270 non-null  float64
 9   REASONCODE         72813 non-null   float64
 10  REASONDESCRIPTION  75227 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 9.4+ MB

<font color=green>The left join is performed to avoid losing the information of encounters/patients. The identifiers are used in suffixes to distinguish the same column names across the tables.</font>

In [7]:
pat_encounter_med_df = pd.merge(pat_encounter_df, medications_df, how="left", left_on= ['Id_P','Id_E'], right_on= ['PATIENT','ENCOUNTER'], suffixes=("_E","_M"))

<font color=green>Converting the columns comprising of dates into a Date datatype.</font>

In [8]:
pat_encounter_med_df['START_E'] = pd.to_datetime(pat_encounter_med_df['START_E'], format= '%Y-%m-%d')
pat_encounter_med_df['STOP_E'] = pd.to_datetime(pat_encounter_med_df['STOP_E'], format= '%Y-%m-%d')
pat_encounter_med_df['BIRTHDATE'] = pd.to_datetime(pat_encounter_med_df['BIRTHDATE'], format= '%Y-%m-%d')
pat_encounter_med_df['DEATHDATE'] = pd.to_datetime(pat_encounter_med_df['DEATHDATE'], format= '%Y-%m-%d')
pat_encounter_med_df['START_M'] = pd.to_datetime(pat_encounter_med_df['START_M'], format= '%Y-%m-%d')
pat_encounter_med_df['STOP_M'] = pd.to_datetime(pat_encounter_med_df['STOP_M'], format= '%Y-%m-%d')

<font color=green>Calculating the age at the time of encounter using the relativedelta package.</font>

In [9]:
from dateutil.relativedelta import relativedelta
pat_encounter_med_df['AGE'] = pat_encounter_med_df.apply(lambda x: relativedelta(x.START_E, x.BIRTHDATE).years, axis=1)

<font color=green>Checking if it worked.</font>

In [10]:
pat_encounter_med_df[['START_E','BIRTHDATE','AGE']]

                   START_E  BIRTHDATE  AGE
0      1959-06-18 09:43:49 1943-03-11   16
1      1963-09-26 09:43:49 1943-03-11   20
2      1971-12-30 09:43:49 1943-03-11   28
3      1975-01-02 09:43:49 1943-03-11   31
4      1983-03-01 09:43:49 1943-03-11   39
...                    ...        ...  ...
428227 2017-07-25 06:41:09 1931-08-21   85
428228 2018-02-23 06:41:09 1931-08-21   86
428229 2018-03-16 06:41:09 1931-08-21   86
428230 2019-02-23 06:41:09 1931-08-21   87
428231 2019-03-22 06:41:09 1931-08-21   87

[428232 rows x 3 columns]

<font color=green>It really did :) Now let's identify:</font>
    
<font color=green>1. The patients with age between 18 and 35 at the time of encounter.</font>
<font color=green>2. The patient's visit is an encounter for drug overdose (Picked Drug rehabilitation and Detoxification)</font>
<font color=green>3. The encounter occurs after july 15, 1999 </font>

In [11]:
#creating a function:
def categorise(row):
    if 18<= row['AGE'] <= 35 and row['START_E'] > pd.Timestamp(1999,7,15) and 'Drug' in row['DESCRIPTION_E']:
        return 1
    else:
        return 0

In [12]:

#creating a column that indicates the rows satisfying the condition using the lambda function. 
pat_encounter_med_df['PROJECT_COHORT'] = pat_encounter_med_df.apply(lambda row: categorise(row), axis=1)

<font color=green>Checking the number of rows that satisify the condition:</font>

In [13]:
pat_encounter_med_df['PROJECT_COHORT'].value_counts()

0    427958
1       274
Name: PROJECT_COHORT, dtype: int64

<font color=green>PART 2: Create additional fields</font>

<font color=green>Just trying to get an idea on how the data is recorded for the project cohort. It is observed that not all records of project cohort have a death date. </font>

In [14]:
pat_encounter_med_df[(pat_encounter_med_df['PROJECT_COHORT']==1) & (pd.isnull(pat_encounter_med_df['DEATHDATE'])== True)][['Id_P','Id_E','BIRTHDATE','DEATHDATE','START_E','STOP_E']].head(5)

,Id_P,Id_E,BIRTHDATE,DEATHDATE,START_E,STOP_E
366,708b81c9-21a9-411a-aae4-052ef8925b97,cc343294-f037-40c2-a02a-45c36654f268,1986-10-28,NaT,2010-05-18 21:50:51,2010-06-03 00:26:48
379,708b81c9-21a9-411a-aae4-052ef8925b97,bd39ae43-bc6a-404c-aad0-f65e128fa065,1986-10-28,NaT,2012-02-25 21:50:51,2012-03-03 22:39:33
381,708b81c9-21a9-411a-aae4-052ef8925b97,5e36b0f9-1a57-451e-a286-78b53a3f3312,1986-10-28,NaT,2012-10-06 21:50:51,2012-10-16 07:14:58
3257,65b093e4-b353-447a-b9ae-290567f1c950,2270fab4-a305-40cc-8501-e10bf1df3586,1995-12-03,NaT,2015-03-31 00:59:35,2015-04-05 20:59:01
7289,ad9e95d4-f88b-4544-b5c7-12087fe1fab0,e06a082a-d4e4-48f7-aeef-910bef3deacf,1976-11-04,NaT,2011-06-26 09:39:47,2011-07-02 20:36:52

In [15]:
pat_encounter_med_df[(pat_encounter_med_df['PROJECT_COHORT']==1) & (pd.isnull(pat_encounter_med_df['DEATHDATE'])==False) ][['Id_P','Id_E','DEATHDATE','START_E','STOP_E']].head(5)

,Id_P,Id_E,DEATHDATE,START_E,STOP_E
44652,cb84e369-546c-490c-9ba0-84e83f7f2192,5c8e1503-12d3-4051-bef5-6e4826870109,2009-02-26,2001-10-10 16:14:45,2001-10-20 13:59:33
44656,cb84e369-546c-490c-9ba0-84e83f7f2192,821f77f3-c7de-4050-b875-f32cf61d80fa,2009-02-26,2002-11-15 16:14:45,2002-11-25 07:51:51
49556,c34b2366-9ba5-4575-bb37-915c98f3ef06,1cbad73d-8271-4883-82ec-234035d6346e,2017-08-17,2010-12-03 20:57:47,2010-12-10 10:53:37
49565,c34b2366-9ba5-4575-bb37-915c98f3ef06,bcb66f45-4029-48a8-b5d4-a9c12d8f4634,2017-08-17,2015-01-02 20:57:47,2015-01-14 09:22:36
49873,7cdbf215-8dce-4641-ae53-ea0f9a4c84f0,940f106e-c342-4352-ae26-52690f9b0d2c,2017-07-24,2010-11-25 20:57:47,2010-12-04 12:57:19

<font color=green>Writing a function that returns 1 if the patient dies during the drug overdose encounter and 0 if the patient died at a different time. The function return null if the patient is not dead.</font>

In [16]:
def death_ind(row):
    if pd.isnull(row['DEATHDATE'])== False:
        if  row['START_E'] <= row['DEATHDATE']<= row['STOP_E'] and row['PROJECT_COHORT']==1:
            return int(1)
        else:
            return int(0)
    else:
        return

<font color=green>Creating a new column the reflects the returned value from above function.</font>

In [17]:
pat_encounter_med_df['DEATH_AT_VISIT_IND'] = pat_encounter_med_df.apply(lambda row: death_ind(row), axis=1)

In [18]:
pat_encounter_med_df['DEATH_AT_VISIT_IND'].value_counts(dropna= False)

NaN    320764
0.0    107468
Name: DEATH_AT_VISIT_IND, dtype: int64

<font color=green> It seems like there are no deaths during the drug overdose encounter. Converting 'DEATH_AT_VISIT_IND' into a int datatype.</font>

In [19]:
pat_encounter_med_df['DEATH_AT_VISIT_IND']=pat_encounter_med_df['DEATH_AT_VISIT_IND'].astype('Int64')

In [20]:
pat_encounter_med_df['DEATH_AT_VISIT_IND'].value_counts(dropna= False)

<NA>    320764
0       107468
Name: DEATH_AT_VISIT_IND, dtype: Int64

<font color=green>Finding out the count of active medications at the start of the drug overdose encounter.</font>

In [21]:
#subsetting the project cohort from main dataframe.
unique_patient_ids_df=pat_encounter_med_df[pat_encounter_med_df['PROJECT_COHORT']==1][['Id_P','Id_E','START_E', 'STOP_E']].drop_duplicates()

In [22]:
unique_patient_ids_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 274 entries, 366 to 423223
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Id_P     274 non-null    object
 1   Id_E     274 non-null    object
 2   START_E  274 non-null    datetime64[ns]
 3   STOP_E   274 non-null    datetime64[ns]
dtypes: datetime64[ns](2), object(2)
memory usage: 10.7+ KB

In [23]:
#creating a list of unique patients and their encounters for which the count of active medication needs to be determined.
unique_patient_ids=unique_patient_ids_df.values.tolist()

len(unique_patient_ids)

274

<font color=green> The following logic will determine the count of active medications and count of active opioids (if any) at the start of the drug overdose encounter for the cohort.  </font>

In [24]:
#initiating the list to tap the counters.
counter_list =[]
counter_op_list =[]

#for every item in unique_patient_ids: we can pull out patient_id, encounter_id, start and stop of encounter.(List of lists)
for i in unique_patient_ids:
    counter=0
    counter_op=0
    patient_id= i[0]
    encounter_id= i[1]
    start_e = i[2]
    stop_e= i[3]

    
    for j in range(len(pat_encounter_med_df[pat_encounter_med_df['Id_P']==patient_id])):
        if pd.isnull(pat_encounter_med_df.loc[j,"START_M"]) == True:
            
            counter=counter+0
            
        else:
            
            if pd.isnull(pat_encounter_med_df.loc[j,'STOP_M']== False):
                
                if pat_encounter_med_df.loc[j,"START_M"] <= start_e <= pat_encounter_med_df.loc[j,"STOP_M"]:
                    counter =counter+1
                    if pat_encounter_med_df.loc[j,"DESCRIPTION_M"] in ('Oxycodone-acetaminophen 100ML','Hydromorphone 325 MG','Fentanyl 100 MCG'):
                        counter_op = counter_op+1
                    else:
                        counter_op=counter_op+0
                    
                else:
                    counter =counter+0
                
            else:
                
                if pat_encounter_med_df.loc[j,"START_M"] <= start_e:
                    counter = counter+1
                    if pat_encounter_med_df.loc[j,"DESCRIPTION_M"] in ('Oxycodone-acetaminophen 100ML','Hydromorphone 325 MG','Fentanyl 100 MCG'):
                        counter_op = counter_op+1
                    else:
                        counter_op =counter_op+0
                                     
                else:
                    counter =counter+0    

    counter_list.append(counter)
    counter_op_list.append(counter_op)

    
#checking the tapped values.
print(counter_list)
print(counter_op_list)

#checking the length of the lists

print(len(counter_list))
print(len(counter_op_list))

[3, 5, 5, 2, 7, 2, 4, 2, 2, 2, 5, 7, 2, 2, 0, 0, 11, 3, 3, 2, 2, 0, 1, 1, 2, 2, 2, 2, 2, 2, 1, 6, 13, 0, 5, 7, 2, 2, 4, 2, 2, 2, 3, 2, 4, 4, 4, 1, 6, 6, 4, 2, 2, 2, 4, 8, 8, 2, 5, 9, 3, 2, 2, 4, 4, 4, 2, 2, 4, 7, 7, 8, 3, 2, 2, 5, 7, 3, 3, 3, 2, 3, 4, 5, 8, 2, 2, 5, 5, 2, 2, 2, 2, 3, 7, 7, 7, 7, 2, 2, 15, 16, 2, 4, 5, 6, 6, 2, 5, 2, 7, 2, 3, 3, 2, 2, 2, 2, 7, 2, 6, 5, 6, 4, 2, 4, 4, 4, 4, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 5, 2, 2, 2, 2, 2, 7, 5, 2, 1, 2, 2, 5, 8, 1, 2, 5, 7, 4, 5, 2, 4, 2, 2, 2, 5, 6, 7, 10, 3, 7, 3, 4, 5, 5, 5, 3, 4, 4, 4, 2, 4, 7, 7, 2, 1, 9, 5, 5, 5, 2, 2, 2, 5, 3, 3, 3, 4, 4, 6, 10, 4, 5, 7, 2, 2, 5, 5, 5, 2, 5, 1, 3, 3, 7, 2, 4, 4, 6, 6, 4, 6, 3, 5, 5, 5, 2, 2, 2, 2, 2, 2, 3, 4, 5, 7, 7, 1, 2, 6, 4, 5, 5, 5, 3, 4, 4, 7, 10, 7, 5, 5, 5, 5, 2, 2, 2, 2, 4, 8, 8, 9, 4, 5, 2, 4, 9, 9, 11, 2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0]
274
274

<font color=green>Now we will go through the counter_op_list and create a new list that indicates whether there was an active opioid at the time of encounter</font>

In [25]:
op_ind_list=[]

for i in counter_op_list: 
    if i>=1:
        op_ind_list.append(1)
    else:
        op_ind_list.append(0)

len(op_ind_list)
print(op_ind_list)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0]

In [26]:
#assigning the values in the list to the appropriate columns for the cohort. 
for i in range(len(unique_patient_ids)):
    patient_id= unique_patient_ids[i][0]
    encounter_id= unique_patient_ids[i][1]
    start_e = unique_patient_ids[i][2]
    stop_e= unique_patient_ids[i][3]
    
    
    df_index=pat_encounter_med_df.index[(pat_encounter_med_df['Id_P']== patient_id) & (pat_encounter_med_df['Id_E']== encounter_id)]
    
    
    pat_encounter_med_df.loc[df_index,'COUNT_CURRENT_MEDS']= counter_list[i]
    
    pat_encounter_med_df.loc[df_index, 'CURRENT_OPIOID_IND']= op_ind_list[i]

In [27]:
#coverting the datatype:
pat_encounter_med_df['CURRENT_OPIOID_IND']=pat_encounter_med_df['CURRENT_OPIOID_IND'].astype('Int64')
pat_encounter_med_df['COUNT_CURRENT_MEDS']=pat_encounter_med_df['COUNT_CURRENT_MEDS'].astype('Int64')

In [28]:
pat_encounter_med_df['CURRENT_OPIOID_IND'].value_counts(dropna=False)

<NA>    427958
0          262
1           12
Name: CURRENT_OPIOID_IND, dtype: Int64

In [29]:
pat_encounter_med_df['COUNT_CURRENT_MEDS'].value_counts(dropna=False)

<NA>    427958
2           97
5           42
4           41
3           24
7           24
6           13
1            9
8            7
9            5
0            4
10           3
11           2
13           1
15           1
16           1
Name: COUNT_CURRENT_MEDS, dtype: Int64

<font color=green>Indicating the readmission within 90 and 30 days.</font>

In [30]:
for i in unique_patient_ids:
    patient_id= i[0]
    encounter_id= i[1]
    start_e = i[2]
    stop_e= i[3]
    
    
    list_index=pat_encounter_med_df.index[(pat_encounter_med_df['Id_P']== patient_id) & (pat_encounter_med_df['PROJECT_COHORT']== 1)].tolist()
    
    for j in range(len(list_index)-1):
        
        pat_encounter_med_df.loc[list_index[j],'START_E_N'] = pat_encounter_med_df.loc[list_index[j+1],'START_E']
        
     
    
    for k in list_index:
        
        if pd.isnull(pat_encounter_med_df.loc[k,'START_E_N'])== True:
            
            pat_encounter_med_df.loc[k,"READMISSION_90_DAY_IND"] = 0
            
            pat_encounter_med_df.loc[k,"READMISSION_30_DAY_IND"] = 0
            
        else:
            
            if (pat_encounter_med_df.loc[k,"START_E_N"]-pat_encounter_med_df.loc[k,'START_E']) <= np.timedelta64(90,'D'):
                pat_encounter_med_df.loc[k,"READMISSION_90_DAY_IND"]= 1
                pat_encounter_med_df.loc[k,"FIRST_READMISSION_DATE"]= pat_encounter_med_df.loc[k,"START_E_N"]
                
                if (pat_encounter_med_df.loc[k,"START_E_N"]-pat_encounter_med_df.loc[k,'START_E']) <= np.timedelta64(30,'D'):
                    pat_encounter_med_df.loc[k,"READMISSION_30_DAY_IND"]= 1
                    
                else:
                    
                    pat_encounter_med_df.loc[k,"READMISSION_30_DAY_IND"]= 0
        
            else:
                
                pat_encounter_med_df.loc[k,"READMISSION_90_DAY_IND"]= 0
                pat_encounter_med_df.loc[k,"READMISSION_30_DAY_IND"]= 0

In [31]:
pat_encounter_med_df['READMISSION_90_DAY_IND']=pat_encounter_med_df['READMISSION_90_DAY_IND'].astype('Int64')
pat_encounter_med_df['READMISSION_30_DAY_IND']=pat_encounter_med_df['READMISSION_30_DAY_IND'].astype('Int64')
pat_encounter_med_df['FIRST_READMISSION_DATE']= pd.to_datetime(pat_encounter_med_df['FIRST_READMISSION_DATE'], format= '%Y-%m-%d')

In [32]:
pat_encounter_med_df['READMISSION_90_DAY_IND'].value_counts(dropna=False)

<NA>    427958
0          273
1            1
Name: READMISSION_90_DAY_IND, dtype: Int64

In [33]:
pat_encounter_med_df['READMISSION_30_DAY_IND'].value_counts(dropna=False)

<NA>    427958
0          274
Name: READMISSION_30_DAY_IND, dtype: Int64

In [34]:
pat_encounter_med_df['FIRST_READMISSION_DATE'].value_counts(dropna=False)

NaT                    428231
2017-09-10 23:21:25         1
Name: FIRST_READMISSION_DATE, dtype: int64

In [35]:
pat_encounter_med_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428232 entries, 0 to 428231
Data columns (total 51 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id_E                    428232 non-null  object
 1   START_E                 428232 non-null  datetime64[ns]
 2   STOP_E                  428232 non-null  datetime64[ns]
 3   PATIENT_E               428232 non-null  object
 4   PROVIDER                428230 non-null  object
 5   ENCOUNTERCLASS          428232 non-null  object
 6   CODE_E                  428231 non-null  float64
 7   DESCRIPTION_E           428232 non-null  object
 8   COST_E                  428232 non-null  float64
 9   REASONCODE_E            140064 non-null  float64
 10  REASONDESCRIPTION_E     140064 non-null  object
 11  Id_P                    428232 non-null  object
 12  BIRTHDATE               428232 non-null  datetime64[ns]
 13  DEATHDATE               107468 non-null  datetime64[ns]
 14  SSN                     428232 non-null  object
 15  DRIVERS                 389126 non-null  object
 16  PASSPORT                372083 non-null  object
 17  PREFIX                  381015 non-null  object
 18  FIRST                   428232 non-null  object
 19  LAST                    428232 non-null  object
 20  SUFFIX                  2799 non-null    object
 21  MAIDEN                  157776 non-null  object
 22  MARITAL                 339867 non-null  object
 23  RACE                    428232 non-null  object
 24  ETHNICITY               428232 non-null  object
 25  GENDER                  428232 non-null  object
 26  BIRTHPLACE              428232 non-null  object
 27  ADDRESS                 428232 non-null  object
 28  CITY                    428232 non-null  object
 29  STATE                   428232 non-null  object
 30  ZIP                     248196 non-null  float64
 31  START_M                 111139 non-null  datetime64[ns]
 32  STOP_M                  90990 non-null   datetime64[ns]
 33  PATIENT_M               111139 non-null  object
 34  ENCOUNTER               111139 non-null  object
 35  CODE_M                  111139 non-null  float64
 36  DESCRIPTION_M           111139 non-null  object
 37  COST_M                  111139 non-null  float64
 38  DISPENSES               111139 non-null  float64
 39  TOTALCOST               111139 non-null  float64
 40  REASONCODE_M            72279 non-null   float64
 41  REASONDESCRIPTION_M     74647 non-null   object
 42  AGE                     428232 non-null  int64
 43  PROJECT_COHORT          428232 non-null  int64
 44  DEATH_AT_VISIT_IND      107468 non-null  Int64
 45  COUNT_CURRENT_MEDS      274 non-null     Int64
 46  CURRENT_OPIOID_IND      274 non-null     Int64
 47  START_E_N               120 non-null     datetime64[ns]
 48  READMISSION_90_DAY_IND  274 non-null     Int64
 49  READMISSION_30_DAY_IND  274 non-null     Int64
 50  FIRST_READMISSION_DATE  1 non-null       datetime64[ns]
dtypes: Int64(5), datetime64[ns](8), float64(9), int64(2), object(27)
memory usage: 188.1+ MB

In [36]:
pat_encounter_med_df.rename(columns={'Id_P': 'PATIENT_ID', 'Id_E': 'ENCOUNTER_ID', 'START_E':'HOSPITAL_ENCOUNTER_DATE','AGE':'AGE_AT_VISIT'}, inplace=True)

In [37]:
final_df= pat_encounter_med_df[['PATIENT_ID','ENCOUNTER_ID','HOSPITAL_ENCOUNTER_DATE','AGE_AT_VISIT','DEATH_AT_VISIT_IND','COUNT_CURRENT_MEDS','CURRENT_OPIOID_IND','READMISSION_90_DAY_IND','READMISSION_30_DAY_IND','FIRST_READMISSION_DATE']]

In [38]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428232 entries, 0 to 428231
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   PATIENT_ID               428232 non-null  object
 1   ENCOUNTER_ID             428232 non-null  object
 2   HOSPITAL_ENCOUNTER_DATE  428232 non-null  datetime64[ns]
 3   AGE_AT_VISIT             428232 non-null  int64
 4   DEATH_AT_VISIT_IND       107468 non-null  Int64
 5   COUNT_CURRENT_MEDS       274 non-null     Int64
 6   CURRENT_OPIOID_IND       274 non-null     Int64
 7   READMISSION_90_DAY_IND   274 non-null     Int64
 8   READMISSION_30_DAY_IND   274 non-null     Int64
 9   FIRST_READMISSION_DATE   1 non-null       datetime64[ns]
dtypes: Int64(5), datetime64[ns](2), int64(1), object(2)
memory usage: 54.1+ MB

In [39]:
#changing data types to the required format
patient_id_series = pd.Series(final_df.PATIENT_ID, dtype="string")
encounter_id_series= pd.Series(final_df.ENCOUNTER_ID, dtype="string")
final_df=final_df.copy()

In [40]:
final_df['PATIENT_ID'] = patient_id_series
final_df['ENCOUNTER_ID'] = encounter_id_series

In [41]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 428232 entries, 0 to 428231
Data columns (total 10 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   PATIENT_ID               428232 non-null  string
 1   ENCOUNTER_ID             428232 non-null  string
 2   HOSPITAL_ENCOUNTER_DATE  428232 non-null  datetime64[ns]
 3   AGE_AT_VISIT             428232 non-null  int64
 4   DEATH_AT_VISIT_IND       107468 non-null  Int64
 5   COUNT_CURRENT_MEDS       274 non-null     Int64
 6   CURRENT_OPIOID_IND       274 non-null     Int64
 7   READMISSION_90_DAY_IND   274 non-null     Int64
 8   READMISSION_30_DAY_IND   274 non-null     Int64
 9   FIRST_READMISSION_DATE   1 non-null       datetime64[ns]
dtypes: Int64(5), datetime64[ns](2), int64(1), string(2)
memory usage: 54.1 MB

In [42]:
#Exporting the dataframe to a csv file.
output_path=os.getcwd()+'\\rithiksai_ponugoti.csv'
final_df.to_csv(output_path,index=False)